.icon-tabler-sun{
  background-color: var(--color -dark);
}

.icon-tabler-sun:hover{
  transform: scale(120%);
}

.icon-tabler-moon-stars:hover{
  transform: scale(120%);
}

.icon-tabler-moon-stars{
  background-color: transparent;
}

.icon-tabler-moon-stars,
.icon-tabler-sun,
.btn-dark-content{
  border-radius: 50%;
  border: none;
}