/* Estilos para el datepicker */
.datepicker {
    width: 100%;
    background-color: #3498db; /* Cambia el color de fondo */
    color: #ffffff; /* Cambia el color del texto */
  }
  
  /* Estilos para los días del mes en el datepicker */
  .datepicker .day {
    color: #2c3e50; /* Cambia el color del texto de los días del mes */
  }
  
  /* Estilos para el día seleccionado en el datepicker */
  .datepicker .day.selected {
    background-color: #e74c3c; /* Cambia el color de fondo del día seleccionado */
    color: #ffffff; /* Cambia el color del texto del día seleccionado */
  }
  