.modal-body {
  display: flex!important;
  flex-direction: column!important;
}

.input-group {
  margin-bottom: 15px!important;
}

.input-group label {
  display: block!important;
  margin-bottom: 5px!important;
}

.input-group.d-flex {
  display: flex!important;
  align-items: center!important;
}

.input-group.d-flex label {
  margin-right: 10px!important;
}

.input-group input {
  display: flex;
}
