* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-1: #fbfdfd;
  --color-2: #000000;
  --color-3: #36a2a3;
  --color-4: #e03f3e;
  --color-dark: #102e2f;
  --text-dark: #fbfdfd;
}

body{
  background-color: var(--color-1);
  color: var(--color-2);
  overflow-x: hidden;
  min-height: 100vh!important;
  position: relative;
  padding-bottom: 13rem;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

body.dark-mode,
body.dark-mode input,
body.dark-mode button
{
  background-color: var(--color-dark);
  color: var(--color-1);
}

body.dark-mode p,
body.dark-mode table,
body.dark-mode a,
body.dark-mode li{
  color: var(--text-dark);

}

.btn-edit {
  background-color: var(--color-3);
}

.btn-eliminar{
  background-color: var(--color-4)!important;
}

.btn-turno svg{
  transform: translateY(-10%);
}

.btn-edit span {
  display: block;
  transform: translateY(-5%)!important;
}

