* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kalam', cursive, serif;

}



:root {
  --color-1: #fbfdfd;
  --color-2: #000000;
  --color-3: #36a2a3;
  --color-4: #e03f3e;
  --color-dark: #102e2f;
  --text-dark: #fbfdfd;
}

h1,h5{
  color:var(--color-3)
}

.homeHover:hover{
transform: scale(120%);
transition: .4s ease-in-out;

}

.homeHover{
  
  transition: .4s ease-in-out;
  
  }

html{
  overflow-x: hidden;
  min-height: 100vh!important;
  position: relative;
}

body{
  background-color: var(--color-1);
  color: var(--color-2);
  overflow-x: hidden;
  min-height: 100vh!important;
  position: relative;
  padding-bottom: 3rem;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

body.dark-mode,
body.dark-mode input,
body.dark-mode button
{
  background-color: var(--color-dark);
  color: var(--color-1);
}

body.dark-mode p,
body.dark-mode table,
body.dark-mode a,
body.dark-mode li{
  color: var(--text-dark);

}

.btn-edit {
  background-color: var(--color-3);
}

.btn-eliminar{
  background-color: var(--color-4)!important;
}

.btn-turno svg{
  transform: translateY(-10%);
}

.btn-edit span {
  display: block;
  transform: translateY(-5%)!important;
}



.react-datepicker__header {
  text-align: center;
  background-color: var(--color-3)!important;
  border-top-left-radius: 0.8rem!important;
  border-top-right-radius: 0.8rem!important;
  padding: 8px 0;
  position: relative;
  background-image: radial-gradient(at 30% 5%, rgb(138, 209, 223) 0px, transparent 50%),
  radial-gradient(at 44% 6%, rgb(146, 199, 213) 0px, transparent 50%),
  radial-gradient(at 60% 12%, rgb(108, 166, 189) 0px, transparent 50%);
}

.react-datepicker__day--disabled, .react-datepicker__month-text--disabled, .react-datepicker__quarter-text--disabled, .react-datepicker__year-text--disabled {
  cursor: default;
  color: #ff0000!important;
}

.react-datepicker {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  /* font-size: 0.8rem; */
  background-color: #fff;
  box-shadow: 0 15px 28px 0 rgba(0, 0, 0, 0.25)!important;
  color: #000;
  border: none!important;
  border-radius: 0.8rem!important;
  display: inline-block;
  position: relative;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--disabled {
  color: #ff0000!important;
}

.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
  margin-top: 0;
  color: rgb(0, 0, 0)!important;
  white-space: bold;
  font-size: 1rem!important;
}


.react-datepicker__day--selected  {
  background-color: var(--color-3)!important;
  color: white;
  font-weight: bold;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
  background-color: var(--color-3)!important;
  color: white;
  font-weight: bold;
}
