.table-header {
  background-color: #3498db; 
}

.table-row-even {
  background-color: #ecf0f1; 
}

.table-row-odd {
  background-color: #bdc3c7; 
}

.table {
  width: 90%;
  margin: auto;
  border-radius: 10px!important;
}


td, th{
  text-align: center;
  text-wrap: nowrap;
  border: 1px solid #000;
}