/* .table-header {
  background-color: #36a2a3; 
} */

/* .table-row-even {
  background-color: #ecf0f1; 
}

.table-row-odd {
  background-color: var(--color-1); 
} */

.table {
  width: 90%;
  margin:0 auto;
  border: 1px solid #000; 
  -webkit-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.61);
-moz-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.61);
box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.61);
}


td, th{
  text-align: center;
  text-wrap: nowrap;
  border-right: 0px;
}

.separate-table-appointment{
  border-right: 1px solid #000;
}

.separate-table-dr{
  border-left: 1px solid #000;
}

.table>:not(caption)>*>* {
  border-bottom: 0px;
}

@media screen and (max-width: 405px){
  .table-name,
  .table-lastname,
  .table-phone,
  .separate-table-dr,
  .table-name-dr,
  .table-address-sorting,
  .table-dni-sorting,
  .table-birthday-sorting,
  .table-updated-sorting,
  .table-name-sorting,
  .table-namePat-sorting,
  .table-action-sorting,
  .table-action-sorting button,
  .table-dniDr-sorting,
  .table-daysoff-sorting,
  .table-start-sorting,
  .table-end-sorting,
  .table-emailDr-sorting,
  .table-nameDr-sorting,
  .table-email-sorting,
  .table-finished-sorting,
  .table-surgey-sorting,
  .table-surgey,
  .table-date,
  .table-initiate {
    
    display: none;
  }

  .icon-treatment svg{
    width: 25px;
  }

  .icon-treatment{
    padding-bottom: 10px!important;
  }

  .table-sm-size{
    font-size: .6rem!important;
  }

  .table-treatment{
    font-size: 0.7rem;
  }

  .table-action-sorting,
  .table-action-sorting button{
   visibility: hidden!important;
  }

  .separate-table-appointment{
    border: none;
  }

  .table-sm{
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 460px) and (min-width: 405px){
  .table-user{
    font-size: .8rem;
  }
  .table-address-sorting,
  .table-namePat-sorting,
  .table-birthday-sorting,
  .table-updated-sorting,
  .table-dni-sorting,
  .table-name-sorting,
  .table-dniDr-sorting,
  .table-daysoff-sorting,
  .table-email-sorting,
  .table-start-sorting,
  .table-end-sorting,
  .table-nameDr-sorting,
  .table-finished-sorting,
  .table-surgey-sorting,
  .table-initiate,
  .table-date,
  .table-surgey{
    display: none;
  }

  .table-treatment{
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 658px) and (min-width: 460px){
  .table-name,
  .table-lastname,
  .table-phone,
  .separate-table-dr,
  .table-namePat-sorting,
  .table-email-sorting,
  .table-name-dr,
  .table-address-sorting,
  .table-birthday-sorting,
  .table-updated-sorting,
  .table-name-sorting,
  .table-dniDr-sorting,
  .table-daysoff-sorting,
  .table-start-sorting,
  .table-end-sorting,
  .table-finished-sorting,
  .table-surgey-sorting,
  .table-date,
  .table-surgey{
    
    display: none;
  }
  .separate-table-appointment{
    border: none;
  }

  .table-user{
    font-size: .8rem;
  }
}

@media screen and (min-width: 658px) and (max-width: 956px){
  .table-address-sorting,
  .table-birthday-sorting,
  .table-namePat-sorting,
  .table-updated-sorting,
  .table-dniDr-sorting{
    display: none;
  }

  .table-appointment{
    font-size: .9rem;
  }
}

@media screen and (min-width: 658px) and (max-width: 906px){
  .table-daysoff-sorting,
  .table-start-sorting,
  .table-end-sorting,
  .table-surgey,
  .table-date{
    
    display: none;
  }
}

@media screen and (min-width: 906px) and (max-width: 1066px){
  .table-daysoff-sorting,
  .table-dniDr-sorting,
  .table-surgey{
    display: none;
  }
}

@media screen and (min-width: 658px) and (max-width: 1024px){
  .table-name,.table-phone,.separate-table-dr{
    display: none;
  }
  .separate-table-appointment{
    border: none;
  }
}

@media screen and (min-width: 1066px) and (max-width: 1180px){
  .table-daysoff-sorting,.table-dniDr-sorting{
    display: none;
  }
}


